<html xmlns:th="http://www.thmeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <head>
        <title>本日の運勢</title>
    </head>
    <body>
        <h1 align="center">本日の運勢</h1>
        <table border="0" align="center">
            <tr>
                <td>健康運： <span th:text="${starList[0]}" /></td>
            </tr>
            <tr>
                <td>金　運： <span th:text="${starList[1]}" /></td>
            </tr>
            <tr>
                <td>恋愛運： <span th:text="${starList[2]}" /></td>
            </tr>
             <tr>
                <td></td>
            </tr>
            <tr>
                <td></td>
            </tr>
            <tr>
                <td>全体運：</td>
                <td><img th:src="@{${img}}" th:width="200px" th:height="200px"/></td>
            </tr>
        </table>
    </body>
</html>
